* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;    
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: #5fc2fd;;
}

.wrapper {
    width: 500px;
    height: 620px;
    border: 1px solid #151515;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    z-index: 0;
}

.question, .answer, .counts {
    margin-top: 30px;
    display: flex;
    background-color: #272727;
    width: 420px;
    height: 60px;
}

.question {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    letter-spacing: 3px;
    
}

.answer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    letter-spacing: 3px;
}

.counts {
    color: #c1bfbf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;        
}

.count:hover {
    cursor: pointer;
    color: #fff;
}

.sets_and_results {
    display: flex;
    flex-direction: column;    
    font-size: 20px;
    width: 420px; 
    position: relative;
    top: 30px;
    color: #c1bfbf;
}

.difficulty_time, .difficulty_counts, .right_answer, .wrong_answer {
    color: #c1bfbf;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.one_s {
    position: relative;
    right: 30px;
}

.two_s {
    position: relative;
    right: 15px;
}

.one_s:hover, .two_s:hover, .three_s:hover {
    cursor: pointer;
    color: #fff;
}

.left_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent #c1bfbf transparent transparent;
    display: inline-block;
    margin-right: 10px;
}

.right_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #c1bfbf;
    display: inline-block;
    margin-left: 10px;
}

.left_triangle:hover {
    border-color: transparent #fff transparent transparent;
    cursor: pointer;
}

.right_triangle:hover {
    border-color: transparent transparent transparent #fff;
    cursor: pointer;
}

.button_ok {
    width: 90px;
    height: 40px;
    margin-top: 80px;
    background-color: #272727;
    color: #c1bfbf;
    border: 1px solid #272727;
    font-size: 20px;
}

.button_ok:hover {
    background-color: #1b1b1b;
    cursor: pointer;
    color: #fff;
}

.button_ok:active {
    color: yellow;
}

.button_fake_ok {
    width: 90px;
    height: 40px;
    margin-top: 80px;
    background-color: #272727;
    color: #c1bfbf;
    border: 1px solid #272727;
    font-size: 20px;
    display: none;
}

.button_fake_ok:hover {
    background-color: #1b1b1b;
    cursor: pointer;
    color: #fff;
}

.button_fake_ok:active {
    color: yellow;
}

.button_start {
    width: 90px;
    height: 40px;
    margin-top: 20px;
    background-color: #272727;
    color: #c1bfbf;
    border: 1px solid #272727;
    font-size: 20px;
}

.button_start:hover {
    background-color: #1b1b1b;
    cursor: pointer;
    color: #fff;
}

.button_start:active {
    color: yellow;
}

.welcome {
    display: block;
    position: relative;
    text-align: center;    
    width: 680px;
    height: 430px;
    border: 1px solid black;    
    color: #fff;
    background-color: #151515;
    font-size: 1.5em;
    margin: 100px auto;
}

.text {
    margin-top: 60px;
    text-align: center;
}

.closer {    
    color: #fff;
    font-size: 36px;    
    position: absolute;
    right: 10px;
    top: 0;
    transform: rotate(45deg);
}

.closer:hover {
    color: red;
    cursor: pointer;
}

.training {
    width: 150px;
    height: 40px;
    margin-top: 90px;
    background-color: #272727;
    color: #c1bfbf;
    border: 1px solid #272727;
    font-size: 20px;
}

.training:hover {
    background-color: #1b1b1b;
    cursor: pointer;
    color: #fff;
}

.training:active {
    color: yellow;
}